body{
background-color: #E6F5F4;
margin:0;
font-family: 'Montserrat', sans-serif;
}



nav {
  width: 100%;
}


nav ul{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  list-style: none;
  padding: .5em;
  margin: 0;
}


nav ul li{
  padding: 1em 2em;
  font-size: 2em;
  line-height: 0.2em;
}


nav ul li a{
  color: #0D0D0D;
  text-decoration: none;
}
