body{
  width: 80%;
  margin:auto;
}

main{
  display: grid;
  grid-gap: 20px;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  grid-template-areas: "header  header header header"
                        "content content content sidebar"
                        "content content content sidebar"
                        "content content content sidebar"
                        "content content content sidebar"
                        "footer footer footer footer";
}


.box{
font-size: 3em;
color: #FFF;
}


.box1{
  grid-area: header;
  background-color: #977EF2;
}

.box2{
  grid-area: content;
  background-color: #2955D9;
}

.box3{
  grid-area: sidebar;
  background-color: #0597F2;
}

.box4{
  grid-area: footer;
  background-color: #F25C05;
}



@media screen and (max-width: 768px) {

main{

  grid-template-areas: "header  header header header"
                       "content content content content"
                       "content content content content"
                       "content content content content"
                       "sidebar sidebar sidebar sidebar"
                       "footer footer footer footer";
  }


 /* This would be a better solution:

  main{
    grid-template: 4fr / 1fr;
    grid-template-areas: "header "
                         "content"
                         "sidebar"
                         "footer";
      } */
}
